@media(max-width:575.98px) {
    header {
        height: 150px;
    }
    header .logo {
        padding-left: 30px;
    }
    header .logo img {
        padding-top: 0px;
        height: 90px;
    }
    .social-media {
        text-align: left !important;
        width: 60% !important;
        float: left;
        margin-top: 80px;
    }
    .mobil-menu {
        float: right;
        font-size: 25px;
        padding-top: 95px;
        margin-left: 30px;
        cursor: pointer;
    }
    .mobil-menu i {
        color: white;
    }
    .menu-area {
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: #353c42;
        width: 100% !important;
        height: 100% !important;
        z-index: 100;
        margin-top: 0px !important;
        display: none;
    }
    .menu-area .nav-menu {
        width: 100%;
    }
    .menu-area .nav-menu li {
        float: none;
        margin: auto;
        width: 90%;
        margin-left: 5%;
        text-align: center;
        margin-top: 15px;
    }
    .menu-area .nav-menu li:first-child {
        text-align: right;
        color: #7ac1ff;
        font-size: 25px;
    }
    .menu-area .nav-menu li:first-child a:hover {
        background-color: transparent;
    }
    .menu-area .nav-menu li:first-child {
        width: 50px;
        float: right;
    }
    #searchbar {
        display: none;
        margin-bottom: 30px;
    }
    .slider-area {
        margin-top: 30px !important;
    }
    /* Social media */
    .social-media {
        width: 100%;
    }
    #videoFrame {
        width: 300px !important;
        height: 250px !important;
    }
}