@media(min-width:575.99px) and (max-width:991.98px) {
    header {
        height: 150px;
    }
    header .logo {
        left: 0px;
    }
    header .logo img {
        height: 146px;
    }
    .social-media {
        text-align: right !important;
        width: 100% !important;
        float: right;
    }
    .social-media .fab:last-child {
        margin-right: 0px !important;
    }
    .mobil-menu {
        float: right;
        font-size: 25px;
        padding-top: 45px;
        margin-left: 30px;
        cursor: pointer;
    }
    .mobil-menu i {
        color: white;
    }
    .menu-area {
        position: fixed;
        top: 0px;
        right: 0px;
        background-color: #353c42;
        width: 40% !important;
        height: 100% !important;
        z-index: 100;
        margin-top: 0px !important;
        display: none;
        border-left: 5px solid #7ac1ff;
    }
    .menu-area .nav-menu {
        width: 100%;
    }
    .menu-area .nav-menu li {
        float: none;
        margin: auto;
        width: 90%;
        margin-left: 5%;
        text-align: center;
        margin-top: 15px;
    }
    .menu-area .nav-menu li:first-child {
        text-align: right;
        color: black;
        font-size: 25px;
    }
    .menu-area .nav-menu li:first-child a:hover {
        background-color: transparent;
    }
    .menu-area .nav-menu li:first-child {
        width: 50px;
        float: right;
    }
    #searchbar {
        display: none;
        margin-bottom: 30px;
    }
    .slider-area {
        margin-top: 30px !important;
    }
}

@media(max-width: 1366px) {
    .search-quick-button {
        min-height: 0px;
        max-height: 100px;
        overflow-y: auto;
    }
}